@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&family=Noto+Sans+TC&family=Press+Start+2P&family=Roboto&display=swap');

  body::-webkit-scrollbar {
    display: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  
  ::selection {
    background-color: #000;
  }


/* Home Styles */

.home-bidy-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optical-text {
  font-size: 12vw;
  padding: 0;
  margin: 5rem;
  color: #000;
  transition: all 3s ease 0s;
}
.optical-text:hover {
  color: whitesmoke;
  cursor: default;
  transition: all 30s ease 0s;
}

.enter-button {
  width: 12vw;
  height: 10vh;
  font-size: 2vw;
  background-color: #ededed;
  border: 1px solid #000;
  border-radius: 18px;
  margin: 6vw auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
  0px 5px 4px rgba(0, 0, 0, 0.03),
  0px 12px 9px rgba(0, 0, 0, 0.05),
  0px 20px 15px rgba(0, 0, 0, 0.06),
  0px 32px 24px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in-out;
}

.enter-button:hover {
  background-color: #ededed;
  color: #ededed;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
  0px 4px 5px rgba(0, 0, 0, 0.05),
  0px 8px 12px rgba(0, 0, 0, 0.07),
  0px 14px 21px rgba(0, 0, 0, 0.10),
  0px 22px 33px rgba(0, 0, 0, 0.12),
  0px 32px 47px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.home-illusion {
  height: 75rem;
  margin: 18rem auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17),
  0px 14px 40px rgba(0, 0, 0, 0.33),
  0px 32px 91px rgba(0, 0, 0, 0.50);
}

.home-illusion img {
  transform-origin: center;
  height: 75rem;
}

#home-img {
  text-decoration: none;
  cursor: none;
}

@media (prefers-reduced-motion: no-preference) {
  .home-illusion {
    animation: home-illusion-spin infinite 36s linear ;
  }
}
@keyframes home-illusion-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fopoter Styles */

.footer-body-div {
  width: 100%;
  height: 28vh;
  margin-top: 6vw;
  background-color: #000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

#copy {
  color: whitesmoke;
  font-size: 1.25vw;
  line-height: 2.5vh;
  padding: 0;
  margin: 0 2vw;
  margin-bottom: 2vh;
}

#footer-link {
  text-decoration: none;
  color: gray;
  transition: all 0.5s ease-in-out;
}

#footer-link:hover {
  border-bottom: 1px solid gray;
  transition: all 0.5s ease-in-out;
}


/* Error Page Styles */

.main-error-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 5rem auto;
  max-width: 1200px;
}

.error-page-text {
  text-align: center;
  font-size: 120px;
  color: #ef3340;
  cursor: pointer;
}

.error-h4 {
  font-size: 18px;
}

.hidden-error-link {
  color: #000;
  transition: all 9s ease-in-out 0s;
}
.hidden-error-link:hover {
  color: whitesmoke;
  transition: all 9s ease-in-out 0s;
}

#hidden-error-link {
  text-decoration: none;
}

/* Main Page Styles */

.main-page-body-div {
  margin: 5rem;
}

.main-div-text {
  text-align: center;
  font-size: 120px;
  color: #101820;
  cursor: default;
}

.illusion-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
  height: 685px;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;
}

.illusion-img-div {
  display: inline-block;
  margin: 1rem 2rem;
}

.main-illusion-img {
  border-radius: 28px;
  transition: all .5s ease-in-out;
}
.main-illusion-img:hover {
  box-shadow: 0 0 8px 4px;
  transition: all .5s ease-in-out;
}

.mainpage-button-div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.optical-home-button {
  width: 120px;
  height: 60px;
  font-size: 20px;
  border-radius: 2px;
  margin: 4rem auto;
  transition: all 0.5s ease 0s;
}
.optical-home-button:hover {
  background-color: #ededed;
  box-shadow: 8px 12px 0px 0px #7f7f7f;
  color: #101820;
  transform: translateY(-6px);
  transition: all 0.25s ease 0s;
  cursor: pointer;
}

/* Illusion Stayles */

.illusion-body-div {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illusion-image {
  border-radius: 8px;
  box-shadow: 0 0 8px 2px;
  transition: all 2s ease-in-out;
}

.illusion-image:hover {
  filter: blur(18px);
  transition: all 12s ease-in-out;
}

.star-button-div {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.star-img {
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.illusion-star-button {
  border-radius: 8px;
  border: none;
  background: none;
  transform: rotate(180deg);
}

.illusion-home-button {
  width: 120px;
  height: 60px;
  font-size: 20px;
  border-radius: 2px;
  margin: 2rem;
  transition: all 0.5s ease 0s;
  padding: 0;
}
.illusion-home-button:hover {
  background-color: #ededed;
  box-shadow: 8px 12px 0px 0px #7f7f7f;
  color: #101820;
  transform: translateY(-6px);
  transition: all 0.25s ease 0s;
  cursor: pointer;
}

/* Illrusion 2 Styles */

#img-round {
  border-radius: 50%;
}